<div id = "registerContainer" class = "w3-cell-row">
	<div class = "w3-cell" ng-init = "submitted = true; created = false; completed = false" style = "color:#28d319">
		
		<!-- First step account creation -->

		<div class = "registerMenu fade" ng-if = "submitted" >
			<text class = "registerGuide">To start things off, let's create your account!</text>

			<input type="text" placeholder = "First name" ng-model = "$parent.fname" class = "registerInput" >
			<input type="text" placeholder = "Last name" ng-model = "$parent.lname" class = "registerInput">
			<input type="text" placeholder = "E-mail" ng-model = "$parent.email" ng-init = "$parent.emailAlert = false" class = "registerInput">
			<text ng-if = "emailAlert" class = "registerInput registerAlert">This email address is already in use!</text>

			<input type="password" placeholder = "Password" ng-init = "$parent.confirmAlert = false" ng-model = "$parent.pass" class = "registerInput">
			<text ng-if = "confirmAlert" class = "registerInput registerAlert">The two passwords do not match!</text>
			
			<input type="password" placeholder = "Confirm password" ng-model = "$parent.confirm" class = "registerInput">

			<button ng-click = "submit()" class = "confirmationButton">Submit</button>
		</div>

		<!-- Second step account creation -->

		<div class = "registerMenu fade" ng-if = "created">
			<text >Now let us know a few things about you!</text>
			
			<input type="text" placeholder = "Age" ng-model = "$parent.age" ng-init = "$parent.ageAlert = false" class = "registerInput">
			<text ng-if = "ageAlert" class = "registerInput registerAlert">Please enter a valid age!</text>

			<input type="text" placeholder = "Height in meters" ng-model = "$parent.height" ng-init = "$parent.heightAlert = false" class = "registerInput">
			<text ng-if = "heightAlert" class = "registerInput registerAlert">
				Please enter a valid height! <br>
				(make sure to use a period instead of a comma)
			</text>

			<input type="text" placeholder = "Weight in kgs" ng-model = "$parent.weight" ng-init = "$parent.weightAlert = false" class = "registerInput">
			<text ng-if = "weightAlert" class = "registerInput registerAlert">
				Please enter a valid height! <br>
				(make sure to use a period instead of a comma) 
			</text>

			<button ng-click = "$parent.create()" class = "confirmationButton">Create Account</button>
		</div>

		<!-- Successful creation -->

		<div class = "registerMenu fade" ng-if = "completed">
			<text>
				Account succesfully created! <br>
				You can now enter your <a href="">account!</a>
			</text>
		</div>
	</div>

	<div class = "w3-cell">
		<text class = "registerGuide">If you already have an account, log in now!</text>

		<input type = "text" placeholder = "Email" ng-model = "loginEmail" ng-init = "loginEmailAlert = false" class = "registerInput">
		<text ng-if = "loginEmailAlert" class = "registerInput registerAlert">This email does not exist!</text> 

		<input type = "text" placeholder = "Password" ng-model = "loginPass" ng-init = "loginPassAlert = false" class = "registerInput">
		<text ng-if = "loginPassAlert" class = "registerInput registerAlert">Incorrect password!</text>
	
		<button ng-click = "login()" class = "confirmationButton">Login</button>
	</div>

</div>
