<div id = "firstPageContainer">
	<header id = "headerContainer">
		<div id = "mainTitle">
			WholeFit
		</div>
		<div id = "navbarContainer">
				<a href="">Home</a>
				<a href="">Foods</a>
				<a href="">About</a>
				<a href="">Contact</a>
		</div>
	</header>
	<div id = "mainContainer" style = "height:200px;display:block">
		<div id = "foodInfos">
			<input type="text" ng-model = "food" id = "foodInput">
			<button ng-click = "searchFood()" id = "searchFoodButton">Search</button>
			<div>
				{{whoops}}
			</div>	
		</div>
	</div>
</div>