<div>
	<div id = "inputsContainer">
		<text style = "color:#1671ff;">To start things off, we want to know a few things about you!</text>
		<input type="text" placeholder = "Full name" ng-model = "name" class = "registerInput" >
		<input type="text" placeholder = "Age" ng-model = "age" class = "registerInput" >
		<input type="text" placeholder = "Height in meters" ng-model = "height" class = "registerInput">
		<input type="text" placeholder = "Weight in kgs" ng-model = "weight" class = "registerInput">
		<!-- <input type="text" ng-model = "sal" class = "registerInput"> -->
		<button ng-click = "submit()" style = "margin-top:15px">Submit</button>
	</div>

</div>
