#registerContainer {
	position:relative;
	display:block;
	width:100%;
	top:60px;
}

#inputsContainer {	
	width:49.6%;
	display:inline-block;
	height:100%;
}

#inputsContainer > div {
	position:relative;
	top:0px;
}

.registerInput {
	display:block;
	margin-top:15px;
	box-shadow: none;
}

#loginContainer {
	display:inline-block;
	width:50%;
	position:relative;
	height:100%;
}